<div class="col">
    <RadzenAutoComplete Placeholder="Find new friends.."
                        Data="@customCustomersData"
                        TextProperty="FullName"
                        Style="min-width:400px;"
                        LoadData="@OnLoadData" />
</div>

